<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roadevac</title>
</head>
<body>
<h1>RoadEvac</h1>
<h3>Here to help you evacuate in stressful situations</h3>
<p>Your location is: (location grab here)</p>
<p>Taking you to: (database grab here)</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.974566653147!2d-81.65877638447891!3d30.351672710947604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e5b72d08c3cc21%3A0xd7897a4510bbdb24!2sAndrew%20A%20Robinson%20Elementary!5e0!3m2!1sen!2sus!4v1645729337907!5m2!1sen!2sus" width="300" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe></body>
</html>